repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: trailing-whitespace
    - id: check-ast
    - id: debug-statements
    - id: end-of-file-fixer
    - id: check-docstring-first
    - id: check-added-large-files
      exclude_types: [yaml]
    - id: requirements-txt-fixer
    - id: file-contents-sorter
      files: requirements-dev.txt

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.1
  hooks:
    - id: ruff
      args: ["--fix", "--show-fixes"]
    - id: ruff-format

- repo: https://github.com/tox-dev/pyproject-fmt
  rev: v2.11.0
  hooks:
    - id: pyproject-fmt

- repo: https://github.com/woodruffw/zizmor-pre-commit
  rev: v1.15.2
  hooks:
    - id: zizmor

ci:
    autofix_commit_msg: |
        [pre-commit.ci] auto fixes from pre-commit.com hooks

        for more information, see https://pre-commit.ci
    autofix_prs: false
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: monthly
    skip: []
    submodules: false
